<div class="nested-fields">

 <div clss="form-group">
  
  <%= f.text_field :stitle, class: "form-control",  placeholder: "Write sub topic, ex) Density and volume" %>
 </div>

 <div class="form-group mt-3">
   
   <%= f.text_area :content, class: "form-control" ,rows: 10, placeholder: "Write content, ex) Mass of a unit volume of a material substance. " %>
 </div>
 <%= link_to_remove_association "Remove", f %>
</div>