<div class="row">
 <div class="col-sm-12">
   <%= form_with(model: [@topic, @t_content], local: true ) do |f| %>
    
    <div class="form-group">
     <%= f.label :title, "Title" %>
     <%= f.text_field :title, class: "form-control" %>
    </div>
    <%= f.submit "add", class: "btn btn-danger"%>
   <% end %>
 </div>
</div>