<div class="row">
 <div class="col-sm-12">
   <%= form_with(model: @t_content, local: true ) do |f| %>
    <%= render 'layouts/error_messages', model: @t_content %>
    <div class="form-group">
     <%= f.label :title, "Title" %>
     <%= f.text_field :title, class: "form-control" %>
    </div>
   <% end %>
 </div>
</div>