<div class="c ">
  <h1 class="mt-5 ml-5">Text Book</h1>
  <div class="row">
    
    <div class="col-sm-2 bg-white mt-5">
    <%= link_to textbook_path(1) do %>
     <img src="/assets/Grade8.jpg" width="100%" height="100%" alt="grade8">
    <% end %>
    </div>

    <div class="col-sm-9 mt-5">
    <h4>Progress in Integrated sxience (Zambia): Grade 8</h4>
    <p>This text book contain 5 topics. 
    <br>Topic1 :The human body, 
    <br>Topic2:Health, 
    <br>Topic3:The envitonment, 
    <br>Topic4:Plants and animals, 
    <br>Topic5: Materials and energy.
    <br><br>If you choose this textbook in this web cite, you can learn these topic which is mentioned before. and you can learn the knowelage about the topic comprehensively.
    <br>we have already conclude what you need to learn especially from these topic. so please chech what you are going to learn.</p>
    </div>






    <div class="col-sm-2 bg-white mt-5">
    <%= link_to textbook_path(2) do %>
     <img src="/assets/Grade9.jpg" width="100%" height="100%" alt="grade9">
    <% end %>
    </div>

    <div class="col-sm-9 mt-5">
    <h4>Progress in Integrated sxience (Zambia): Grade 9</h4>
    <p>This text book contain 5 topics. 
    <br>Topic1 :The human body, 
    <br>Topic2:Health, 
    <br>Topic3:The envitonment, 
    <br>Topic4:Plants and animals, 
    <br>Topic5: Materials and energy.
    <br><br>If you choose this textbook in this web cite, you can learn these topic which is mentioned before. and you can learn the knowelage about the topic comprehensively.
    <br>we have already conclude what you need to learn especially from these topic. so please chech what you are going to learn.</p>
    </div>
   

     <div class="col-sm-2 bg-white mt-5">
     <%= link_to textbook_path(3) do %>
      <img src="/assets/b_grade10.jpg" width="100%" height="100%" alt="grade10">
    <% end %>
     </div>

     <div class="col-sm-9 mt-5">
    <h4>Progress in Biology (Zambia): Grade 10</h4>
    <p>This text book contain 5 topics. 
    <br>Topic1 :The human body, 
    <br>Topic2:Health, 
    <br>Topic3:The envitonment, 
    <br>Topic4:Plants and animals, 
    <br>Topic5: Materials and energy.
    <br><br>If you choose this textbook in this web cite, you can learn these topic which is mentioned before. and you can learn the knowelage about the topic comprehensively.
    <br>we have already conclude what you need to learn especially from these topic. so please chech what you are going to learn.</p>
    </div>


     <div class="col-sm-2  bg-white mt-5">
     <%= link_to textbook_path(4) do %>
      <img src="/assets/b_grade11.jpg" width="100%" height="100%" alt="grade11">
     <% end %>
     </div>

     <div class="col-sm-9 mt-5">
    <h4>Progress in Biology (Zambia): Grade 11</h4>
    <p>This text book contain 5 topics. 
    <br>Topic1 :The human body, 
    <br>Topic2:Health, 
    <br>Topic3:The envitonment, 
    <br>Topic4:Plants and animals, 
    <br>Topic5: Materials and energy.
    <br><br>If you choose this textbook in this web cite, you can learn these topic which is mentioned before. and you can learn the knowelage about the topic comprehensively.
    <br>we have already conclude what you need to learn especially from these topic. so please chech what you are going to learn.</p>
    </div>
    

 </div>
</div>